.handle-bts[data-v-4a8bf9c4]{width:100%;display:flex;justify-content:space-between}.el-tag[data-v-4a8bf9c4]{margin:7px}.bd-top[data-v-4a8bf9c4]{border-top:1px solid #eee}.bd-bottom[data-v-4a8bf9c4]{border-bottom:1px solid #eee}.v-center[data-v-4a8bf9c4]{display:flex;align-items:center}